@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e9e9e9;
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden;
  cursor: default;
}


#logo {
  font-size: 1.5rem;
}

#header {
  box-sizing: border-box;
  height: 80px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #b8ece4;
  z-index: 9999;
  position: sticky;
  top: 0;
  transition: all .5s ease;
}
#header.sticky{
  background: #9ae9dd;
  height:70px;
}

#logo img {
  max-width: 5vw;
  margin-top: 8px;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #252525;
}

#btn-mobile {
  display: none;
}







.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #b8ece4;
}

#text {
  position: absolute;
  text-align: center;
  margin-bottom: 100px;
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  z-index: 100;
}
#text span {
  color: #15f87b;
}

#leaf {
  top: 0;
  z-index: 99;
}

#plant {
  z-index: 100;
}

.parallax img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#start {
  z-index: 1001;
  position: relative;
  background: #003329;
  padding: 80px 200px;
  text-align: center;
  margin-top: -10px;
}

#start h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}
#start h2 span {
  text-decoration: underline #15f87b;
}

#start p {
  font-size: 1em;
  color: #cacaca;
  font-weight: 300;
}

#problemas {
  margin-top: 5vh;
  text-align: center;
  color: #252525;
  z-index: 1001;
}
#problemas h1.txt {
  font-size: 2rem;
}
#problemas span {
  text-decoration: underline #12d369;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.card {
  background-color: #f0fcef;
  text-align: center;
  margin: 3vh;
  padding: 20px;
  border-radius: 10px;
}
.card h1 {
  margin-bottom: 3vh;
}



#galeria{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: .5rem;
  margin: 50px;
  overflow: hidden;
}

.imgGaleria{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all .5s ease;
}
.imgGaleria:hover{
  scale: 1.1;
}
.itemGaleria{
  overflow: hidden;
  border-radius: 10px;
}
.item01{
  grid-column: 1 / span 2;
  grid-row: 1 / span 8;
}
.item02{
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.item03{
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}
.item04{
  grid-column: 3 / span 2;
  grid-row: 3/ span 3;
}
.item05{
  grid-column: 3 / span 4;
  grid-row: 6 / span 3;
}
.item06{
  grid-column: 7 / span 2;
  grid-row: 6 / span 3;
}




#info{
  background-color: #12d369;
  text-align: center;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  color: #252525;
  overflow: hidden;
}
#info h1{
  font-size: 3rem;
}
#info .infos{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 5vh;
  justify-content: space-around;
  padding: 0 10vw;
  margin-left: 5vw;
}
#info .infos h2{
  font-size: 3rem;
  font-weight: 800;
}
#info .infos p{
  font-weight: 400;
  font-size: 1rem;
  color: #282828e8;
}
#info .infos .lixo{
  margin-left: 5vw;
}

#info .comida{
  margin-top: 10vh;
  padding: 0 20vw;
}
#info .comida h2{
  font-size: 3rem;
}
#info .comida p{
  font-size: 1rem;
  color: #282828;
  font-weight: 400;
}
/* BOTÕES */
a#button1 {
  z-index: 101;
  margin-bottom: -100px;
  cursor: pointer;
  text-decoration: none;
}
a#button1 button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: #15f87b;
  font-size: 1em;
  margin-top: 10vh;
  font-weight: 600;
  color: #303030;
  cursor: pointer;
  box-shadow: 2px 2px 10px #353535;
  transition:.5s ease;
}
a#button1 button:hover {
  background-color: #12d369;
  box-shadow: none;
}
.botao2 button {
  padding: 10px;
  margin-top: 2vh;
  border: none;
  border-radius: 10px;
  background-color: #12d369;
  font-weight: 500;
  transition: all 0.5s ease;
  cursor: pointer;
}
.botao2 button:hover {
  background-color: #0ea552;
  font-size: 11pt;
}

.botao3 button {
  padding: 15px;
  width: 20vw;
  margin-top: 4vh;
  border: none;
  border-radius: 20px;
  background-color: #12d369;
  font-weight: 500;
  font-size: 12pt;
  transition: all .5s ease;
  cursor: pointer;
}
.botao3 button:hover {
  background-color: #0ea552;
  font-size: 11pt;
}


#solucao{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 0;
  border-radius: 10px;
  padding: 20px;
  overflow-x: hidden;
}
#solucao h1{
  font-size: 1.7rem;
  margin-bottom: 2vh;
}
#solucao .title span{
  text-decoration: underline #12d369;
}
#solucao .container{
  background-color: #f9f9f9;
  width: 60vw;
  border-radius: 20px;
  padding: 25px 50px;
  margin: 2vh 0;
}
#solucao .espec{
  margin-bottom: 30px;
}






footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
  background-color: #282828;
}
footer a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
footer .top{
  background-color: #12d369;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  transition: all .5s ease;
}
footer .top:hover{
  background-color: #12af59;
}
footer p{
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}
footer p a{
  color: #fff;
  font-weight: 500;
  text-decoration: underline 1px;
}
footer .contato{
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
}
footer img{
  width: 8vw;
  margin-left: -4vw;
}
/* FINAL */



@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #f8f8f8;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    margin-top: 0px;
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #151515;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #menu {
    background-image: linear-gradient(to bottom, #b8ece4a2, #b8ece4, #b8ece4);
  }
  #logo img {
    max-width: 15vw;
    margin-top: 8px;
  }

  .parallax{
    width: 100%;
    overflow-x: hidden;
  }
  #text {
    font-size: 2em;
    padding: 20vw;
    margin-bottom: 150px;
  }
  #start {
    padding: 50px;
  }

  .cards {
    flex-direction: column;
    width: 100vw;
  }

  #galeria{
    margin: 15px;
  }


  #info .infos{
    padding: 0;
    flex-direction: column;
    margin-left: 0;
  }
  #info .infos .lixo{
    margin-top: 3vh;
  }
  #info .infos p{
    font-size: 1.15rem;
  }

  #info .comida{
    padding: 0;
    margin-top: 3vh;
  }

  #solucao .container{
    width: 90vw;
  }
  .botao3 button{
    width: 50vw;
  }

  footer{
    flex-direction: column-reverse;
  }
  footer .eu{
    margin: 10vw 0 0 0;
  }
  footer .eu p{
    font-size: 1.6rem;
  }
  footer img{
    display: none;
  }
}





/* SCROLL */
.scroll, .scroll2, .scroll3, .scroll4{
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #e9e9e9;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #979797;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e9e9e9;  /* creates padding around scroll thumb */
}